[Unit]
Description=Post Kuechendienst Message

[Service]
Type=oneshot
ExecStartPre=/bin/docker pull kuechendienst
ExecStart=/bin/docker run --name kuechendienst --volume /data/kuechendienst/:/etc/kuechendienst --network matrix_nw --rm kuechendienst
